

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



/* sidebar css */

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3f0e40;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
}

.sidenav a {
  padding: 6px 8px 6px 5px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  text-decoration: none !important;
}

.sidenav a:hover {
  color: #d0d0d0;
}

.main {
  margin-left: 100px !important; 
  padding: 30px 10px;
  max-height: calc(100vh - 164px);
  overflow-y: auto;
  width: calc(100% - 100px);
}

.footer {
  width: 100%;
  background-color: #1d0f1d;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer p{
  margin: 0px;
  padding: 20px 0px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* sidebar css */